.header {
padding: 16px;
margin-top: 2em;
}

.navbar .brand { 
    margin-left: 80px;
}

.container {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.card {
  margin-top: 2em;
  margin-bottom: 2em;
}

.h3{
  text-align: center;
  font-weight: bold;
}


div.card-img {
            margin: 0 auto;
            height: auto;
            max-width: 100%;
            border: none;
            display: block;
            padding: 5px 0;
        }



.card-footer





